.dashboard {
  height: 100vh;
  width: 100%;
  background: #f9f9f9;
}

.main-layout {
  width: 100%;
  height: 100vh;
  padding: 50px 100px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.main-layout .left {
  height: 100%;
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 6px 8px 28px -16px rgba(66, 68, 90, 1);
  -moz-box-shadow: 6px 8px 28px -16px rgba(66, 68, 90, 1);
  box-shadow: 6px 8px 28px -16px rgba(66, 68, 90, 1);
}

.main-layout .right {
  height: 100%;
  width: 70%;
  padding: 20px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 6px 8px 28px -16px rgba(66, 68, 90, 1);
  -moz-box-shadow: 6px 8px 28px -16px rgba(66, 68, 90, 1);
  box-shadow: 6px 8px 28px -16px rgba(66, 68, 90, 1);
}
